@model Client.DTOs.Auths.ForgotPasswordDto
@{
    var toast = TempData["toast"] as dynamic;
    ViewData["Title"] = "Forget Password";
    Layout = "_LayoutAuth";
}

@section Toast{
    @if (toast != null)
    {
        var toastColor = toast.Color ?? "secondary";
        var toastClass = $"bs-toast toast toast-placement-ex m-2 fade bg-{toastColor} top-0 start-50 translate-middle-x";

        <div class="@toastClass" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
            <div class="toast-header">
                <i class="bx bx-bell me-2"></i>
                <div class="me-auto fw-semibold">@toast.Title</div>
            </div>
            <div class="toast-body">
                @toast.Subtitle
            </div>
        </div>
    }
}

<div class="card">
    <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
            <a asp-controller="Home" asp-action="Index" class="app-brand-link gap-2">
                <span class="app-brand-text demo text-body fw-bolder">
                    <img class="logo" src="../landing/img/icon-white.png" alt="" />tWiz
                </span>
            </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Forgot Password?</h4>
        <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
        <form id="formAuthentication" class="mb-3" asp-action="ForgetPassword" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input type="text"
                       class="form-control"
                       id="email"
                       name="Email"
                       asp-for="Email"
                       placeholder="Enter your email"
                       autofocus />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary d-grid w-100">Send Reset Link</button>
        </form>
        <div class="text-center">
            <a asp-action="SignIn" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to login
            </a>
        </div>
    </div>
</div>