@model Client.DTOs.Auths.SignInDto

@{
    var toast = TempData["toast"] as dynamic;
    var type = TempData["type"] as string;
    ViewData["Title"] = "Sign in as " + type;

    Layout = "_LayoutAuth";
}

@section Toast{
    @if (toast != null)
    {
        var toastColor = toast.Color ?? "secondary";
        var toastClass = $"bs-toast toast toast-placement-ex m-2 fade bg-{toastColor} top-0 start-50 translate-middle-x";

        <div class="@toastClass" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
            <div class="toast-header">
                <i class="bx bx-bell me-2"></i>
                <div class="me-auto fw-semibold">@toast.Title</div>
            </div>
            <div class="toast-body">
                @toast.Subtitle
            </div>
        </div>
    }
}

<div class="card">
    <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center mb-4">
            <a asp-controller="Home" asp-action="Index" class="app-brand-link gap-2">
                <span class="app-brand-text demo text-body fw-bolder">
                    <img class="logo" src="../landing/img/icon-white.png" alt="" />tWiz
                </span>
            </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Welcome to tWiz!</h4>
        <p class="mb-4">Please sign-in to your account and start the adventure</p>

        <form id="formAuthentication" class="mb-3" asp-action="SignIn" method="post">
            <input type="hidden" name="type" value="@type" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email"
                    type="email" class="form-control" id="email"
                    name="email"
                    placeholder="Enter your email"
                    autofocus
                    tabindex="1"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                    <label asp-for="Password" class="control-label">Password</label>
                    <a tabindex="-1" asp-asp-controller="Auth" asp-action="ForgetPassword">
                        <small>Forgot Password?</small>
                    </a>
                </div>
                <div class="input-group input-group-merge">
                    <input tabindex="2" asp-for="Password"  type="password"
                           id="password"
                           class="form-control"
                           name="password"
                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                           aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <!-- <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me" />
                <label class="form-check-label" for="remember-me"> Remember Me </label>
              </div>
            </div> -->
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
            </div>
        </form>

        @if (type == "Company")
        {
            <p class="text-center mb-0">
                <span>New on our platform?</span>
                <a asp-asp-controller="Auth" asp-action="SignUp">
                    <span>Create an account</span>
                </a>
            </p>
        }

    </div>

    <div class="card-footer border-top">
        <div class="text-center">
            <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to Home
            </a>
        </div>
    </div>
</div>