@{
    ViewData["Title"] = "Unauthorized";
}

<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <div class="display-1 mb-2 mx-2 text-secondary">405</div>
        <h2 class="mb-2 mx-2">Method Not Allowed</h2>
        <p class="mb-4 mx-2">Oops! It appears you've entered a forbidden domain.<br />The methods to this page are exclusive, and access is strictly regulated.<br />To continue your journey, kindly present the secret passphrase or access code.</p>

        <div align="center">
            <a href="#" class="btn btn-outline-primary bg-transparent text-primary" onclick="history.back()">
                <i class="bx bx-arrow-back"></i> Retrace Your Steps
            </a>

            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>
