@{
    ViewData["Title"] = "Not Found";
}

<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <div class="display-1 mb-2 mx-2 text-secondary">404</div>
        <h2 class="mb-2 mx-2">Not Found</h2>
        <p class="mb-4 mx-2">Uh-oh! It appears you've taken a wrong turn.<br />The page you are searching for is hiding from us.<br />Please double-check the URL or consider exploring other exciting areas.</p>
        

        <div align="center">
            <a href="#" class="btn btn-outline-primary bg-transparent text-primary" onclick="history.back()">
            <i class="bx bx-arrow-back"></i></a>

            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to home</a>
        </div>
    </div>
</div>