@{
    var payment = TempData["payment"] as dynamic;
    var toast = TempData["toast"] as dynamic;
    ViewData["Title"] = "Payment Required";
}

@section Toast{
    @if (toast != null)
    {
        var toastColor = toast.Color ?? "secondary";
        var toastClass = $"bs-toast toast toast-placement-ex m-2 fade bg-{toastColor} top-0 start-50 translate-middle-x";

        <div class="@toastClass" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
            <div class="toast-header">
                <i class="bx bx-bell me-2"></i>
                <div class="me-auto fw-semibold">@toast.Title</div>
            </div>
            <div class="toast-body">
                @toast.Subtitle
            </div>
        </div>
    }
}

<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <div class="display-1 mb-2 mx-2 text-secondary">402</div>
        <h2 class="mb-2 mx-2">Payment Required</h2>
        <p class="mb-4 mx-2">Oh no! Your account is inactive.<br />Please make the payment to activate it and unlock its full potential. Let the journey of rediscovery begin!<br />If you done the payment process, click button bellow to upload the proof of register payment</p>

        <div class="card">
            <div class="card-header text-center">
                <h2 class="mb-0">IDR @payment?.Price,-</h2>
            </div>
            <div class="card-body text-center">
                <div class="fw-bold">Virtual Account Number</div>
                <h1 class="mb-2 text-primary">@payment?.VaNumber</h1>
                <h5 class="mb-2">@payment?.BankCode @payment?.BankName</h5>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <input class="form-control" type="file">
                    </div>

                    <div class="col-auto ps-0">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>