@model Client.DTOs.Events.GetParticipantsEventDto;

@{
    ViewData["Title"] = "Participants Event";
    Layout = "_LayoutUser";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" class="text-primary">Events Control</a></li>
        <li class="breadcrumb-item active" aria-current="page">Participants</li>
    </ol>
</nav>