@{
    Layout = "_LayoutAuthentication";
}

<div class="account-pages w-100 mt-5 mb-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card mb-0">

                    <div class="card-body p-4">

                            <div class="account-box">
                                    <div class="text-center account-logo-box">
                                        <div>
                                            <a href="index.html">
                                                <img src="~/img/tWiz-Logo.png" alt="" height="30">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="account-content mt-4">
                                        <div class="text-center">
                                            <p class="text-muted mb-0 mb-3">Enter your email address and we'll send you an email with instructions to reset your password.  </p>
                                        </div>
                                        <form class="form-horizontal" asp-action="ConfirmEmail">

                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <label for="emailaddress">Email address</label>
                                                    <input class="form-control" type="email" id="email-reset" required="" placeholder="Your Email">
                                                </div>
                                            </div>

                                            <div class="form-group row text-center mt-2">
                                                <div class="col-12">
                                                    <button class="btn btn-md btn-block waves-effect waves-light" type="button" id="forgot-btn" style="background-color: #FD5F04">Reset Password</button>
                                                </div>
                                            </div>

                                        </form>

                                        <div id="error-list" class="text-danger"></div>

                                        <div class="clearfix"></div>

                                        <div class="row mt-4">
                                            <div class="col-sm-12 text-center">
                                                <p class="text-muted mb-0">Back to <a asp-controller="Admin" asp-action="Login" class="text-dark ml-1"><b>Login</b></a></p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <!-- end card-box-->
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
    </div>
    <!-- end row -->
</div>

</div><!-- end container -->