@model Client.DTOs.Auths.LoginDto

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutAuthentication";
}


<div class="account-pages w-100 mt-5 mb-5">
    <div class="container">

        @if (TempData["Success"] != null)
    {
        <div class="toast align-items-center text-white bg-success top-0 end-0 border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              @TempData["Success"]
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
    }

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card mb-0">

                    <div class="card-body p-4">

                        <div class="account-box">
                            <div class="account-logo-box">
                                <div class="text-center">
                                    <a href="index.html">
                                        <img src="~/img/tWiz-Logo.png" alt="" height="30">
                                    </a>
                                </div>
                                <h5 class="mb-1 mt-4">Sign In</h5>
                                <p class="mb-0">Login to use tWiz System</p>
                            </div>

                            <div class="account-content mt-4">
                                <form asp-action="Login" class="form-horizontal">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12">
                                            <a asp-controller="Admin" asp-action="ForgotPassword" class="text-muted float-right"><small>Forgot your password?</small></a>
                                            <label asp-for="Password" class="control-label"></label>
                                            <input asp-for="Password" type="password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12">

                                            <div class="checkbox checkbox-success">
                                                <input id="remember" type="checkbox">
                                                <label for="remember">
                                                    Remember me
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group row text-center mt-2">
                                        <div class="col-12">
                                            <button id="login-btn" class="btn btn-md btn-block waves-effect waves-light" type="submit" style="background-color: #FD5F04">Sign In</button>
                                        </div>
                                    </div>

                                </form>

                                <div id="error-list" class="small text-danger">
                                    
                                </div>

                                <div class="row mt-4 pt-2">
                                    <div class="col-sm-12 text-center">
                                        <p class="text-muted mb-0">Don't have tWiz account? <a asp-controller="Admin" asp-action="Register" class="text-dark ml-1"><b>Register Now!</b></a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</div>
<!-- end page -->