<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon"
          type="image/x-icon"
          href="landing/img/icon.png" />

    <link rel="stylesheet" href="landing/css/bootstrap.min.css" />
    <link rel="stylesheet" href="landing/css/lineicons.css" />
    <link rel="stylesheet" href="landing/css/animate.css" />
    <link rel="stylesheet" href="landing/css/main.css" />
</head>
<body>
    @RenderBody()

    <script src="landing/js/bootstrap.bundle.min.js"></script>
    <script src="landing/js/wow.min.js"></script>
    <script src="landing/js/main.js"></script>
</body>
</html>