@{
    var toast = TempData["toast"] as dynamic;

    ViewData["Title"] = "Dashboard";
    ViewData["Username"] = ViewBag.Username as string;
    ViewData["Role"] = ViewBag.Role as string;
    Layout = "_LayoutUser";
}

@section Toast{
    @if (toast != null)
    {
        var toastColor = toast.Color ?? "secondary";
        var toastClass = $"bs-toast toast toast-placement-ex m-2 fade bg-{toastColor} top-0 start-50 translate-middle-x";

        <div class="@toastClass" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
            <div class="toast-header">
                <i class="bx bx-bell me-2"></i>
                <div class="me-auto fw-semibold">@toast.Title</div>
            </div>
            <div class="toast-body">
                @toast.Subtitle
            </div>
        </div>
    }
}

<div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
    <div class="card">
        <div class="row row-bordered g-0">
            <div class="col-md-8">
                <h5 class="card-header m-0 me-2 pb-3">Quick Statistic</h5>
                <div id="totalRevenueChart" class="px-2"></div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <div class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-outline-primary dropdown-toggle"
                                    type="button"
                                    id="growthReportId"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                2022
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                <a class="dropdown-item" href="javascript:void(0);">2021</a>
                                <a class="dropdown-item" href="javascript:void(0);">2020</a>
                                <a class="dropdown-item" href="javascript:void(0);">2019</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="growthChart"></div>
                <div class="text-center fw-semibold pt-3 mb-2"><span id="growth-value">0</span>% Average Growth</div>

                <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                    <div class="d-flex">
                        <div class="me-2">
                            <span class="badge bg-label-primary p-2"><i class="bx bx-group text-primary"></i></span>
                        </div>
                        <div class="d-flex flex-column">
                            <small>Employee</small>
                            <h6 class="mb-0"><span id="employee-total">0</span></h6>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="me-2">
                            <span class="badge bg-label-info p-2"><i class="bx bx-cube text-info"></i></span>
                        </div>
                        <div class="d-flex flex-column">
                            <small>Events</small>
                            <h6 class="mb-0"><span id="event-total">0</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
    <div class="row">
        <div class="col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <span class="badge bg-label-info p-2">
                                <i class="bx bx-group text-info"></i>
                            </span>
                        </div>
                        <div class="dropdown">
                            <button class="btn p-0"
                                    type="button"
                                    id="cardOpt1"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="cardOpt1">
                                <a class="dropdown-item" asp-controller="Employee" asp-action="Index">View More</a>
                            </div>
                        </div>
                    </div>
                    <span class="fw-semibold d-block mb-1">Employees</span>
                    <h3 class="card-title mb-2" id="employee-summary">0</h3>
                    <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> <span id="employee-summary-percent">0</span>%</small>
                </div>
            </div>
        </div>
        <div class="col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <span class="badge bg-label-danger p-2">
                                <i class="bx bx-cube text-danger"></i>
                            </span>
                        </div>
                        <div class="dropdown">
                            <button class="btn p-0"
                                    type="button"
                                    id="cardOpt4"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                                <a class="dropdown-item" asp-controller="Event" asp-action="Index">View More</a>
                            </div>
                        </div>
                    </div>
                    <span class="d-block mb-1">Events</span>
                    <h3 class="card-title text-nowrap mb-2"><span id="event-summary">0</span></h3>
                    <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> <span id="event-summary-percent">0</span>%</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                        <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                            <div class="card-title">
                                <h5 class="text-nowrap mb-2">Payments</h5>
                                <span class="badge bg-label-warning rounded-pill">Year <span id="summary-year">0</span></span>
                            </div>
                            <div class="mt-sm-auto">
                                <small class="text-success text-nowrap fw-semibold"><i class="bx bx-chevron-up"></i> <span id="payment-summary-percent">0</span>%</small>
                                <h3 class="mb-0">IDR<span id="payment-summary">0</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    const data = {
        "year": "2022",
        "revenue": {
            "employee": [23, 19, 15, 34, 91, 92, 34], // jumlah employee pada masing2 bulan
            "event": [89, 85, 38, 75, 67, 28, 39], // jumlah event pada masing2 bulan
            "months": ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'] // 7 Bulan terakhir
        },
        "growth": {
            "value": [62],
            // rumus persentase:
            // avg_past = total event tahun lalu + total employee tahun lalu
            // avg_now = total event tahun lalu + total employee tahun sekarang
            // total = avg_past + avg_now
            // growth.value = (avg_now/total)*100
            "label": ["Growth"]
        },
        "total": {
            "employee": 645, // total employee dari awal
            "event": 749, // total employee dari awal
            "payment": "23.844.545" // total pembayaran dari awal
        },
        "percent": {
            "employee": 12.34,
            // rumus persentase:
            // emp_past = total employee tahun lalu
            // emp_now = total employee tahun sekarang
            // total = emp_past + emp_now
            // percent.employee = (emp_now/total)*100
            "event": 25.55,
            // rumus persentase:
            // ev_past = total events tahun lalu
            // ev_now = total events tahun sekarang
            // total = ev_past + ev_now
            // percent.event = (ev_now/total)*100
            "payment": 45.98
            // rumus persentase:
            // pay_past = total pembayaran (nominal) tahun lalu
            // pay_now = total pembayaran tahun sekarang
            // total = pay_past + pay_now
            // percent.payment = (pay_now/total)*100
        }
    };

    $("#growth-value").text(data.growth.value)
    $("#employee-total").text(data.total.employee)
    $("#event-total").text(data.total.event)

    $("#summary-year").text(data.year)
    $("#employee-summary").text(data.total.employee)
    $("#event-summary").text(data.total.event)
    $("#payment-summary").text(data.total.payment)
    $("#employee-summary-percent").text(data.percent.employee)
    $("#event-summary-percent").text(data.percent.event)
    $("#payment-summary-percent").text(data.percent.payment)
</script>
}